 <div class="container">
  <div class="jumbotron">
   <div class="text-center">
    <h1>activityOverload</h1>

    <h2>..tracking app acitivity better than the Nsa since 1899..</h2>
    <a href="/user/new" class="btn btn-lg btn-success">Sign up now!</a>
    </div>
   </div>
  </div>  